.app-header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-light);
  background: var(--color-dark-azure);
  z-index: 998;
  box-shadow: var(--shadow-medium);
}

.app-header .logo-container {
  position: static;
}

.app-header .logo-img {
  height: 45px;
  width: auto;
  display: flex;
}

.user-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user-info span {
  color: var(--color-white);
  font-family: "Syne", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.btn-user {
  background: var(--color-white);
  color: var(--color-dark-azure);
  border: none;
  padding: 0.6rem 0.6rem;
  margin: 0 0.5rem 0 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  transition: all 0.2s ease;
  box-shadow: none;
}

.user-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0px;
  background: var(--surface-card);
  border-radius: 0 0 8px 8px; 
  box-shadow: var(--shadow-medium);
  padding: 8px 0;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  border: 1px solid var(--border-color);
  border-top: none;

  /* Estado Inicial Escondido (Transição Suave) */
  opacity: 0;
  /* Começa 5px acima para fazer o efeito de deslizar para baixo ao aparecer */
  transform: translateY(-5px); 
  pointer-events: none;
  transition: opacity 0.15s ease-out, transform 0.15s ease-out;
}

/* Classe de contingência para quando o menu é forçado a abrir por clique (Mobile) */
.user-dropdown-menu.is-open {
  display: flex !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
  pointer-events: auto !important;
}

/* Itens do Menu */
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  color: var(--text-main);
  text-decoration: none;
  background: none;
  border: none;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: var(--surface-hover);
}


/* RESPONSIVIDADE */

/* Quando há hover: */

@media (hover: hover) {
  /* Quando o rato passa por cima do container, o menu aparece automaticamente */
  .user-container:hover .user-dropdown-menu {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}